<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<title>Template</title>

	<link rel="preload" href="fonts/bebas-bold.woff2" as="font" type="font/woff2" crossorigin>

	<link rel="stylesheet" href="css/style.min.css">
</head>

<body>
	<header class="header">
		<button class="hamburger" aria-label="Open menu">
			<span class="hamburger__inner"></span>
		</button>
		<nav class="nav">
			<ul class="nav__list">
				<li><a href="#">Menu</a></li>
				<li><a href="#">Menu</a></li>
				<li><a href="#">Menu</a></li>
			</ul>
		</nav>
	</header>
