@mixin placeholder($color) {
	&::-webkit-input-placeholder {
		color: $cl
	}

	&::-moz-placeholder {
		color: $cl
	}

	&:-moz-placeholder {
		color: $cl
	}

	&:-ms-input-placeholder {
		color: $cl
	}
}
