$mobile-small: 440px;
$mobile: 550px;
$mobile-large: 640px;
$tablet-small: 768px;
$tablet: 900px;
$tablet-large: 1024px;
$desktop-small: 1200px;


//Цвета

$grey-lighten: #e8e8e8;
$grey-light: #dedede;
$grey: #898989;
$grey-dark: #383838;
$grey-darken: #32313d;
$grey-darkest: #2d2829;
