$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-tablet-width-only: 1365px;


//Цвета

$grey-lighten: #e8e8e8;
$grey-light: #dedede;
$grey: #898989;
$grey-dark: #383838;
$grey-darken: #32313d;
$grey-darkest: #2d2829;
