$mobile-small-width: 440px;
$mobile-width: 550px;
$mobile-large-width: 640px;
$tablet-small-width: 768px;
$tablet-width: 900px;
$desktop-small-width: 1024px;


//Цвета

$grey-lighten: #e8e8e8;
$grey-light: #dedede;
$grey: #898989;
$grey-dark: #383838;
$grey-darken: #32313d;
$grey-darkest: #2d2829;
